<header class="header">
    <div class="logo" [routerLink]="['']">Event App</div>
    @if(!showMenu){
      <i class='bx bx-menu' id="menu-icon" (click)="toggleMenu()"></i>
  }
  @if(showMenu){
      <i class='bx bx-x' id="close-icon" (click)="toggleMenu()"></i>
      }
    <nav class="navbar" [ngClass]="{ 'active': showMenu }">
      @if(!estaAutenticado){
      <a [routerLink]="['/login']">Login</a>
    }
      @if (estaAutenticado) {
        <a [routerLink]="'/perfil/' + idUsuario">Perfil</a>
    
      <a (click)="cerrarSesion()">Cerrar Sesión</a>}
    </nav>
  </header>