<section class="store">
  
  @for (evento of eventos$ | async; track $index ) {
    <div class="card">
      <img [src]="evento.imagen_url" [alt]="evento.nombre" class="card__image">
      <h3 class="card__title">{{ evento.nombre }}</h3>
      <p class="card__description">{{ evento.descripcion }}</p>
      <p class="card__price">Precio: {{ evento.precio }}€</p>
      <p class="card__stock">Stock: {{ evento.stock }}</p>
      <input type="number" [(ngModel)]="evento.cantidadSeleccionada" placeholder="Cantidad" min="1" max="{{ evento.stock }}" class="card__quantity">
     
      @if(evento.eventoAgregado) {
        <div class="card__success-message">
          Evento añadido
        </div>
      }

      @if (evento.mostrarMensajeNoUnidades) {
        <div class="card__no-unidades-message">
          Ya no quedan más unidades.
        </div>
      }

      @if (mostrarMensajeError && !esUsuarioPermitido) {
        <div class="card__error-message">
          Tienes que iniciar sesión para añadir eventos al carrito.
        </div>
      }
      @if (!mostrarFormularioCrear && UsuarioPermitido()) { 
      
          <button (click)="mostrarFormularioCrear = !mostrarFormularioCrear" class="card__button--create">Crear</button>
 
      }

      @if (esUsuarioPermitido) {
        <button (click)="iniciarEdicion(evento)" class="card__button--edit">Editar</button>
      }

      @if (esUsuarioPermitido && !editando) {
        <button (click)="eliminarEvento(evento.id)" class="card__button--delete">Eliminar</button>
      }

      @if (errorEdicion) {
        <div class="card__error-message">
          Tienes que rellenar todos los campos.
        </div>
      }

      <div class="crear-producto">


        @if (mostrarFormularioCrear && esUsuarioPermitido) {
          <div class="crear-producto__form">
            @if (errorCreacion) {
              <div class="crear-producto__error-message">
                {{ errorCreacion }}
              </div>
            }
            <form (ngSubmit)="crearEvento()">
              <div class="crear-producto__field">
                <label for="nombre" class="crear-producto__label">Nombre:</label>
                <input id="nombre" type="text" [(ngModel)]="nuevoEvento.nombre" name="nombre" required class="crear-producto__input">
              </div>
              <div class="crear-producto__field">
                <label for="descripcion" class="crear-producto__label">Descripción:</label>
                <textarea id="descripcion" [(ngModel)]="nuevoEvento.descripcion" name="descripcion" required class="crear-producto__textarea"></textarea>
              </div>
              <div class="crear-producto__field">
                <label for="precio" class="crear-producto__label">Precio:</label>
                <input id="precio" type="number" [(ngModel)]="nuevoEvento.precio" name="precio" required class="crear-producto__input">
              </div>
              <div class="crear-producto__field">
                <label for="stock" class="crear-producto__label">Stock:</label>
                <input id="stock" type="number" [(ngModel)]="nuevoEvento.stock" name="stock" required class="crear-producto__input">
              </div>
              <div class="crear-producto__field">
                <label for="imagen_url" class="crear-producto__label">URL de la imagen:</label>
                <input id="imagen_url" type="text" [(ngModel)]="nuevoEvento.imagen_url" name="imagen_url" required class="crear-producto__input">
              </div>
              <div class="crear-producto__actions">
                <button type="submit" class="crear-producto__button">Crear Evento</button>
                <button type="button" (click)="cancelarCreacion()" class="crear-producto__button--cancel">Cancelar</button>
              </div>
            </form>
          </div>
       
        } </div>
      

      @if (editando && eventoEditado.id === evento.id) {
        <form (ngSubmit)="guardarCambios()" class="card__form">
          <label for="nombre" class="card__label">Nombre:</label>
          <input id="nombre" type="text" [(ngModel)]="eventoEditado.nombre" name="nombre" required class="card__input">
          <label for="descripcion" class="card__label">Descripción:</label>
          <textarea id="descripcion" [(ngModel)]="eventoEditado.descripcion" name="descripcion" required class="card__textarea"></textarea>
          <label for="precio" class="card__label">Precio:</label>
          <input id="precio" type="number" [(ngModel)]="eventoEditado.precio" name="precio" required class="card__input">
          <label for="stock" class="card__label">Stock:</label>
          <input id="stock" type="number" [(ngModel)]="eventoEditado.stock" name="stock" required class="card__input">
          <label for="imagen_url" class="card__label">URL de la imagen:</label>
          <input id="imagen_url" type="text" [(ngModel)]="eventoEditado.imagen_url" name="imagen_url" required class="card__input">
          <div class="card__actions">
            <button type="submit" class="card__button">Guardar cambios</button>
            <button type="button" (click)="cancelarEdicion()" class="card__button--cancel">Cancelar</button>
          </div>
        </form>
        @if (mensajeError) {
          <div class="card__error-message">
            {{ mensajeError }}
          </div>
        }
      }
    </div>
  }
</section>
